/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --akaroa: #D9C7B6;
    --cloud-burst: #212853;
    --orange: #ff7c00;
    --gin: #e0eae4;
    --borderRadius: 5px;
}

/* Make a default for padding, border-radius, text color */
* {
    padding: 12px;
    color: var(--cloud-burst);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: var(--borderRadius);
}

header {
    display: flex;
    background-color: var(--cloud-burst);
    justify-content: space-between;
    padding: 12px;
    flex-wrap: wrap;
}

footer,section {
    display: flex;
    margin-top: 12px;
    background-color: var(--akaroa);
    color: var(--cloud-burst);
}

.main-image {
    position: relative;
    background: var(--cloud-burst);
    overflow: hidden;
    padding: 0;
}

.main-image p {
    font-weight: bolder;
    font-size: x-large;
}

img {
    object-fit: cover;
    padding: 0;
    opacity: 1.7;
    width: 100%;
    max-height: 200px;
}

/* Subtitle on the right bottom of the main img */
.title {
    color: var(--cloud-burst);
    position: absolute;
    align-self: center;
    left: 21%;
    font-weight: bold;
}

h1, h2 {
    line-height: 1.6;
}

h1 {
    color: whitesmoke;
}

.avatar {
    display: inline-flex;
    align-items: center;
}

.avatar img {
    vertical-align: middle;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--akaroa);
}

h2 {
    min-width: 102px;
    text-align: end;
    border-right: solid var(--cloud-burst);
    border-radius: 0;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* class card is used for each work item */
.card {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--borderRadius);
    flex: 1 1 300px;
    box-shadow: 10px 10px 5px var(--cloud-burst);
    margin: 10px;
}
.card img {
    margin-top: 12px;
    opacity: 0.7;
}
/* make the first card biggest */
.card:nth-child(1) {
    flex: 2 1 620px;
}
/* stop last card uses all the width */
.card:last-child {
    max-width: 610px;
}

a {
    color: inherit;
    font-weight: bold;
}
a:hover {
    text-shadow: 3px 3px 5px var(--orange);
}

nav {
    margin-top: 50px;
    color: var(--akaroa);
}

main {
    padding: 0;
}

#education-card {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--borderRadius);
    flex: 1 1 300px;
    box-shadow: 10px 10px 5px var(--cloud-burst);
    margin: 22px;
}

ul {
    margin-left: 11px;
}
<!-- Icons sourced from fontawesome.com and w3schools.com -->
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: var(--akaroa);
  }

  .fa-github {
    background: var(--akaroa);
    color: var(--cloud-burst);
  }

  .fa-envelope-o {
    background: var(--cloud-burst);
    color: var(--akaroa);
  }  

@media all and (min-width: 360px) {
    * {padding: 8px;}
    h2 {
        display: none;
    }
    nav {
        margin-top: 0;
        font-size: small;
    }
}
  
@media all and (min-width: 768px) {
    * {padding: 12px;}
    h2 {
        display: unset;
    }
    nav {
        margin-top: 50px;
        font-size: medium;
    }
}