/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --akaroa: #D9C7B6;
    --cloud-burst: #212853;
    --orange: #ff7c00;
    --gin: #e0eae4;
}

* {
    padding: 12px;
    color: var(--cloud-burst);
    /* background-color: var(--akaroa); */
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;

}

header {
    display: flex;
    background-color: var(--cloud-burst);
    color: var(--akaroa);
    justify-content: space-between;
    padding: 12px;
}

.main-image {
    background: var(--akaroa);
    overflow: hidden;
    padding: 0;
}

img {
    object-fit: cover;
    padding: 0;
    opacity: 0.7;
    width: 100%;
    max-height: 200px;
}

h1, h2 {
    line-height: 1.6;
}

h1 {
    color: whitesmoke;
}

h2 {
    width: 12%;
    display: inline-flexbox;
    text-align: end;
    border-right: solid var(--cloud-burst);
}

a {
    color: var(--akaroa);
}

a:hover {
    text-shadow: 3px 3px 5px var(--orange);
}

nav {
    margin-top: 25px;
    justify-content: end;
}

main {
    /* width: 100%; */
    padding: 0;

}
section {
    margin-top: 12px;
    background-color: var(--akaroa);
}