/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --akaroa: #D9C7B6;
    --cloud-burst: #212853;
    --orange: #ff7c00;
    --gin: #e0eae4;
    --borderRadius: 7px;
}

* {
    padding: 12px;
    color: var(--cloud-burst);
    /* background-color: var(--akaroa); */
    font-family: Arial, Helvetica, sans-serif;
    border-radius: var(--borderRadius);
}

header {
    display: flex;
    background-color: var(--cloud-burst);
    /* color: var(--akaroa); */
    justify-content: space-between;
    padding: 12px;
    flex-wrap: wrap;
}

.main-image {
    position: relative;
    background: var(--cloud-burst);
    overflow: hidden;
    padding: 0;
}

img {
    object-fit: cover;
    padding: 0;
    opacity: 0.7;
    width: 100%;
    max-height: 200px;
}

.title {
    color: var(--akaroa);
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-weight: bold;
    /* transform: translate(-50%, -50%); */
}

h1, h2 {
    line-height: 1.6;
}

h1 {
    color: whitesmoke;
}

h2 {
    min-width: 102px;
    text-align: end;
    border-right: solid var(--cloud-burst);
    border-radius: 0;
    /* justify-content: center; */
    /* align-self: flex-start; */
}

section {
    margin-top: 12px;
    background-color: var(--akaroa);
    color: var(--cloud-burst);
    display: flex;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: flex-end; */
}

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--borderRadius);
    flex: 1 1 300px;
    box-shadow: 10px 10px 5px var(--cloud-burst);
    margin: 10px;
    max-width: 610px;
    /* order: 1; */
}

.card:nth-child(1) {
    flex: 4 1 620px;
    max-width: unset;
    /* align-self: flex-start; */
    /* order: 0; */
}

a {
    color: inherit;
    font-weight: bold;
}

a:hover {
    text-shadow: 3px 3px 5px var(--orange);
}

nav {
    margin-top: 25px;
    justify-content: end;
    color: var(--akaroa);
}

main {
    /* width: 100%; */
    padding: 0;

}
@media all and (min-width: 360px) {
    h2 {display: none;}
    .main-content {
        padding: 0;
    }
    section {padding: 0;}
}
  
@media all and (min-width: 768px) {
    h2 {display: unset;}
    section {padding: 12px;}
}